.App {
  text-align: center;
  font-family: monospace;
  background-color: #2d2e30;
  font-size: 40px;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Character {
  white-space: pre;
  color: #54585c;
  
}

.Character-current {
  background-color: #4cbfb8;

}

.Character-out {
  color: #7eddd3;
}

ul { /* Remove default bullets */
  display: inline;
  list-style: none;
}

li {
  display: inline;
  padding-left: 15px;
}
